<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>あなたに合うコーディネート診断</h1>
      <%= form_with url: '#', method: :post do |f| %>
        <div class="mb-3">
        <% @question.each do |question| %>
          <p><%= question.text %></p>
            <%= select_tag "question_#{question.id}",
                                      options_for_select(question.options.map { |opt| [opt.name, opt.id] }) %>
            <% end %>
        </div>
          <%= f.submit "コーディネートを見る", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
